<!DOCTYPE html>
<html>
  <head>
    <title>Celia Heinrich | Game Designer, Writer</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css"></link>
    <link rel="icon" type="image/png" href="/images/profil.png" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Griffy|Love+Ya+Like+A+Sister|Henny+Penny|Annie+Use+Your+Telescope|Bubbler+One|Text+Me+One' rel='stylesheet' type='text/css'>
<meta charset="UTF-8" />
        <title>GRaaaaaou!</title>
        <audio id="FXScratch">
            <source src="../son/bigScratch.ogg" type="audio/ogg">
            <source src="../son/bigScratch.mp3" type="audio/mpeg">
        </audio>
        <audio id="DialHurt">
            <source src="../son/Graou hurt.ogg" type="audio/ogg">
            <source src="../son/Graou hurt.mp3" type="audio/mpeg">
        </audio>
        <audio id="DialNeutral">
            <source src="../son/Graou neutre.ogg" type="audio/ogg">
            <source src="../son/Graou neutre.mp3" type="audio/mpeg">
        </audio>
        <audio id="DialCombo" src="../son/Graou bonus.ogg">
            <source src="../son/Graou bonus.ogg" type="audio/ogg">
            <source src="../son/Graou bonus.mp3" type="audio/mpeg">
        </audio>
        <audio id="PoolBlup1">
            <source src="../son/Blup.ogg" type="audio/ogg">
            <source src="../son/Blup.mp3" type="audio/mpeg">
        </audio>
        <audio id="PoolBlup2">
            <source src="../son/Blup.ogg" type="audio/ogg">
            <source src="../son/Blup.mp3" type="audio/mpeg">
        </audio>
        <audio id="PoolBlup3">
            <source src="../son/Blup.ogg" type="audio/ogg">
            <source src="../son/Blup.mp3" type="audio/mpeg">
        </audio>
        <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
        <script src="sizeParameters.js" charset="utf-8"></script>
        <script src="../src/intro.js" charset="utf-8"></script>
        <script src="../src/fallenObject.js" charset="utf-8"></script>
        <script src="../src/tack.js" charset="utf-8"></script>
        <script src="../src/papattes.js" charset="utf-8"></script>
        <script src="../src/score.js" charset="utf-8"></script>
        <script src="../src/sounds.js" charset="utf-8"></script>
        <script src="../src/main.js" charset="utf-8"></script>
    <div id="header">
      <h1>Celia Heinrich</h1>
      <p>Game Designer, Writer, etc.</p>
      <img class="img-header" src="/images/Monstre2.png" />
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="footer">
      © <a href="about.html">Célia Heinrich</a> 2013
      <ul>
        <li><a href="/en"><img src="/images/English.png" alt="en" /></a></li>
        <li><a href="/"><img src="/images/French.png" alt="fr" /></a></li>
      </ul>
    </div>
  </body>
</html>

